.intro-container{
	width: 100%;
	height: auto;
	text-align: center;
	position: absolute;
	z-index: 1;
	margin:30px auto 0 auto;
	top: 50%;

}
#slogan{
	font-size: calc( 12px + 3vmin );
	color: #ddd;
	font-weight: 400;
}
#intro-button{
	width: 124px;
	height: 50px;
	border-radius: 2.5px;
	background-color:#0076F2;
	border: none;
	color: #ddd;
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 4px 5px 10px 2px rgba(0,0,0,0.5);
	cursor: pointer;
	margin: 70px auto;
	text-decoration: none;
}
