#app-container{
  background-color: #011627;
  width: 100%;
  height: 100%;
}
#app-container>img{
  position: relative;
  top: 20%;
}
#app-container-signup{
  background-color: #011627;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:100%;
  justify-content: center;
}
#app-container-login{
  background-color: #011627;
  width: 100%;
  height: 100%;
}
#app-container-login>img{
  width: 100px;
  margin-bottom: 50px;
}
