.slide{
	background-color:#011627;
	height: 100%;
	width: 100%;
	background-position: 50% 60%;
	background-repeat: no-repeat;
	background-size: cover;
	display: inline-flex;
	align-items: flex-end;
}
#info-slide{
	display: block;
	font-size: 13px;
	color:#E5E5E5;
	display: grid;
	grid-template-columns: 117px 20px auto;
	grid-template-rows: 100%;
	width: 100%;
	padding: 7px 10px;
}
#info-slide>span{
	text-shadow: 1px 1px 1px rgba(0,0,0,0.35);
	text-align: left;
	font-weight: 450;
}